<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">


<head>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>

<!-- 사용자 스크립트 추가 -->
<th:block layout:fragment="script">

    <script th:inline="javascript"></script>

</th:block>
<!-- 사용자 CSS 추가 -->


<div layout:fragment="content">
    메인페이지입니다.
    </div>


<!--<section class="head_banner grid_wrap">-->
<!--    <div class="floatContainer">-->
<!--        &lt;!&ndash;<h2 class="floatLeft strong_01">푸드</h2>&ndash;&gt;-->
<!--        <ul class="floatRight floatContainer">-->
<!--            <li class="floatLeft">-->
<!--                <a href="./index.html">-->
<!--                        <span class="material-icons">-->
<!--                            home-->
<!--                        </span>-->
<!--                </a>-->
<!--            </li>-->
<!--            <li class="floatLeft">&gt;</li>-->
<!--            <li class="floatLeft title_01">MENU</li>-->
<!--        </ul>-->
<!--    </div>-->
<!--    <div>-->
<!--        <h2 class="strong_01 floatLeft">분류 보기</h2>-->
<!--        <hr>-->
<!--        <ul class="floatContainer">-->
<!--            <li class="floatLeft active">카테고리</li>-->
<!--            &lt;!&ndash;<li class="floatLeft">테마</li>&ndash;&gt;-->
<!--        </ul>-->
<!--        <ol class="picture_choice floatContainer">-->
<!--            <li>전체 보기</li>-->
<!--            <li data-choice="gimbab">김밥 </li>-->
<!--            <li data-choice="porkcutlet">돈까스</li>-->
<!--            <li data-choice="hamburger">햄버거</li>-->
<!--            <li data-choice="Side">사이드</li>-->
<!--            <li data-choice="Dessert">음료&디저트</li>-->
<!--        </ol>-->

<!--    </div>-->
<!--    <div class="list_choice">-->
<!--        <ul class="floatContainer">-->
<!--            <li class="active floatContainer floatLeft">-->
<!--                    <span class="material-icons floatLeft">-->
<!--                        grid_view-->
<!--                    </span>-->
<!--                <p class="floatLeft">사진으로 보기</p>-->
<!--            </li>-->

<!--        </ul>-->
<!--    </div>-->
<!--</section>-->
<!--&lt;!&ndash; //head_banner &ndash;&gt;-->
<!--<section class="picture grid_wrap active">-->

<!--    <div class="gimbab">-->
<!--        <h2>김밥</h2>-->
<!--        <ul>-->
<!--            <li><a href="./cart.html"><br>김밥 <br><br>-->
<!--                <p class="won">1000\</p>-->
<!--            </a></li>-->
<!--            <li><a href="./cart.html"><br>계란김밥 <br><br>-->
<!--                <p class="won">1000\</p>-->
<!--            </a></li>-->
<!--            <li><a href="./cart.html"><br>누드김밥 <br><br>-->
<!--                <p class="won">1000\</p>-->
<!--            </a></li>-->
<!--            <li><a href="./cart.html"><br>불고기김밥 <br><br>-->
<!--                <p class="won">1000\</p>-->
<!--            </a></li>-->
<!--            <li><a href="./cart.html"><br>야채김밥 <br><br>-->
<!--                <p class="won">1000\</p>-->
<!--            </a></li>-->
<!--            <li><a href="./cart.html"><br>참치김밥 <br><br>-->
<!--                <p class="won">1000\</p>-->
<!--            </a></li>-->

<!--            <li><a href="./cart.html"><br>치즈김밥 <br><br>-->
<!--                <p class="won">1000\</p>-->
<!--            </a></li>-->
<!--        </ul>-->
<!--    </div>-->
<!--    <div class="hamburger">-->
<!--        <h2>햄버거</h2>-->
<!--        <ul>-->
<!--            <li><a href="./cart.html">스태커2와퍼 <br><br>-->
<!--                <p class="won">1000\</p>-->
<!--            </a></li>-->
<!--            <li><a href="./cart.html">스태커3와퍼 <br><br>-->
<!--                <p class="won">1000\</p>-->
<!--            </a></li>-->
<!--            <li><a href="./cart.html">스태커4와퍼<br><br>-->
<!--                <p class="won">1000\</p>-->
<!--            </a></li>-->
<!--            <li><a href="./cart.html">와퍼 <br><br>-->
<!--                <p class="won">1000\</p>-->
<!--            </a></li>-->
<!--            <li><a href="./cart.html">불고기와퍼 <br><br>-->
<!--                <p class="won">1000\</p>-->
<!--            </a></li>-->
<!--            <li><a href="./cart.html">치즈와퍼 <br><br>-->
<!--                <p class="won">1000\</p>-->
<!--            </a></li>-->
<!--            <li><a href="./cart.html">베이컨치즈와퍼 <br><br>-->
<!--                <p class="won">1000\</p>-->
<!--            </a></li>-->
<!--        </ul>-->
<!--    </div>-->


<!--    <div class="porkcutlet">-->
<!--        <h2>돈까스</h2>-->
<!--        <ul>-->
<!--            <li><a href="./cart.html">돈까스 <br><br>-->
<!--                <p class="won">1000\</p>-->
<!--            </a></li>-->
<!--            <li><a href="./cart.html">치즈돈까스 <br><br>-->
<!--                <p class="won">1000\</p>-->
<!--            </a></li>-->
<!--            <li><a href="./cart.html">고구마돈까스<br><br>-->
<!--                <p class="won">1000\</p>-->
<!--            </a></li>-->

<!--            <li><a href="./cart.html">생선돈까스<br><br>-->
<!--                <p class="won">1000\</p>-->
<!--            </a></li>-->

<!--            <li><a href="./cart.html">안심돈까스<br><br>-->
<!--                <p class="won">1000\</p>-->
<!--            </a></li>-->

<!--            <li><a href="./cart.html">치킨돈까스<br><br>-->
<!--                <p class="won">1000\</p>-->
<!--            </a></li>-->
<!--            <li><a href="./cart.html">등심돈까스<br><br>-->
<!--                <p class="won">1000\</p>-->
<!--            </a></li>-->

<!--        </ul>-->
<!--    </div>-->
<!--    <div class="Side">-->
<!--        <h2>사이드</h2>-->
<!--        <ul>-->

<!--            <li><a href="./cart.html">어니언링 <br><br>-->
<!--                <p class="won">1000\</p>-->
<!--            </a></li>-->
<!--            <li><a href="./cart.html">코울슬로 <br><br>-->
<!--                <p class="won">1000\</p>-->
<!--            </a></li>-->
<!--            <li><a href="./cart.html">콘샐러드 <br><br>-->
<!--                <p class="won">1000\</p>-->
<!--            </a></li>-->
<!--        </ul>-->
<!--    </div>-->
<!--    <div class="Dessert">-->
<!--        <h2>음료 & 디저트</h2>-->
<!--        <ul>-->
<!--            <li><a href="./cart.html">코카콜라 <br><br>-->
<!--                <p class="won">1000\</p>-->
<!--            </a></li>-->
<!--            <li><a href="./cart.html">코카콜라 제로 <br><br>-->
<!--                <p class="won">1000\</p>-->
<!--            </a></li>-->
<!--            <li><a href="./cart.html">스프라이트 <br><br>-->
<!--                <p class="won">1000\</p>-->
<!--            </a></li>-->
<!--            <li><a href="./cart.html">미닛메이드 오렌지 <br><br>-->
<!--                <p class="won">1000\</p>-->
<!--            </a></li>-->
<!--            <li><a href="./cart.html">순수(미네랄워터) <br><br>-->
<!--                <p class="won">1000\</p>-->
<!--            </a></li>-->
<!--        </ul>-->
<!--    </div>-->

<!--</section>-->
<!--</div>-->



</html>